@import '@/assets/styles/vars';

.toggle {
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 1rem;
}

.group {
  width: 100%;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: 0.5rem;

  :global(.ant-checkbox-wrapper) {
    margin: 0;
  }
}
